// SPDX-License-Identifier: GPL-2.0+

#include <stm32h7-u-boot.dtsi>

&fmc {

	/*
	 * Memory configuration from sdram datasheet w9825g6kh-6i
	 * first bank is bank@0
	 * second bank is bank@1
	 */
	bank0: bank@0 {
		st,sdram-control = /bits/ 8 <NO_COL_9
					     NO_ROW_13
					     MWIDTH_16
					     BANKS_4
					     CAS_3
					     SDCLK_2
					     RD_BURST_EN
					     RD_PIPE_DL_1>;
		st,sdram-timing = /bits/ 8 <TMRD_2
					    TXSR_7
					    TRAS_4
					    TRC_7
					    TRP_2
					    TWR_3
					    TRCD_2>;
		st,sdram-refcount = <918>;
	};
};

&qspi {
        reg = <0x52005000 0x1000>, <0x90000000 0x10000000>;
        flash0: w25q64@0 {
                #address-cells = <1>;
                #size-cells = <1>;
                compatible = "jedec,spi-nor";
                spi-max-frequency = <80000000>;
                spi-tx-bus-width = <4>;
                spi-rx-bus-width = <4>;
                reg = <0>;
        };
};

&pinctrl {
	fmc_pins: fmc@0 {
		pins {
			pinmux = <STM32_PINMUX('C', 0, AF12)>,

				 <STM32_PINMUX('D', 0, AF12)>,
				 <STM32_PINMUX('D', 1, AF12)>,
				 <STM32_PINMUX('D', 8, AF12)>,
				 <STM32_PINMUX('D', 9, AF12)>,
				 <STM32_PINMUX('D',10, AF12)>,
				 <STM32_PINMUX('D',14, AF12)>,
				 <STM32_PINMUX('D',15, AF12)>,

				 <STM32_PINMUX('E', 0, AF12)>,
				 <STM32_PINMUX('E', 1, AF12)>,
				 <STM32_PINMUX('E', 7, AF12)>,
				 <STM32_PINMUX('E', 8, AF12)>,
				 <STM32_PINMUX('E', 9, AF12)>,
				 <STM32_PINMUX('E',10, AF12)>,
				 <STM32_PINMUX('E',11, AF12)>,
				 <STM32_PINMUX('E',12, AF12)>,
				 <STM32_PINMUX('E',13, AF12)>,
				 <STM32_PINMUX('E',14, AF12)>,
				 <STM32_PINMUX('E',15, AF12)>,

				 <STM32_PINMUX('F', 0, AF12)>,
				 <STM32_PINMUX('F', 1, AF12)>,
				 <STM32_PINMUX('F', 2, AF12)>,
				 <STM32_PINMUX('F', 3, AF12)>,
				 <STM32_PINMUX('F', 4, AF12)>,
				 <STM32_PINMUX('F', 5, AF12)>,
				 <STM32_PINMUX('F',11, AF12)>,
				 <STM32_PINMUX('F',12, AF12)>,
				 <STM32_PINMUX('F',13, AF12)>,
				 <STM32_PINMUX('F',14, AF12)>,
				 <STM32_PINMUX('F',15, AF12)>,

				 <STM32_PINMUX('G', 0, AF12)>,
				 <STM32_PINMUX('G', 1, AF12)>,
				 <STM32_PINMUX('G', 2, AF12)>,
				 <STM32_PINMUX('G', 4, AF12)>,
				 <STM32_PINMUX('G', 5, AF12)>,
				 <STM32_PINMUX('G', 8, AF12)>,
				 <STM32_PINMUX('G',15, AF12)>,

				 <STM32_PINMUX('H', 2, AF12)>,
				 <STM32_PINMUX('H', 3, AF12)>;

			slew-rate = <3>;
		};
	};

	qspi_pins: qspi@0 {
                pins {
                        pinmux = <STM32_PINMUX('F',10, AF9)>, /* CLK */
                                 <STM32_PINMUX('G', 6, AF10)>, /* BK1_NCS */
                                 <STM32_PINMUX('F', 8, AF10)>, /* BK1_IO0 */
                                 <STM32_PINMUX('F', 9, AF10)>, /* BK1_IO1 */
                                 <STM32_PINMUX('F', 7, AF9)>, /* BK1_IO2 */
                                 <STM32_PINMUX('F', 6, AF9)>; /* BK1_IO3 */
                        slew-rate = <2>;
                };
        };
};
